.p{
    color: var(--colour-primary);
}

.socialMediaLogoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}

.socialMediaLogo{
    height: 25px;
    width: 25px;
    color: var(--colour-primary);
}

.footerContainer{
    background-color: var(--colour-accent);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 5rem 3rem 5rem;
}

/* mobile */
@media (max-width: 767px){
.footerContainer{
    display: none;
}}