.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2 rem;
    height: 70px;
    border-bottom: 1px solid #ddd
}

.brand{
    display: flex;
    align-items: center;
    gap: 12px;
}

.h1{}

.logo{}