.matchesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: var(--spacing-md);
    
}

.matchCard{
    /* width: 100%;
    height: 200px;
    gap: 1rem; */
    display: flex;
    align-items: center;
    gap: 1.5rem;

    background-color: var(--colour-muted);
    padding: 1.5rem;
    border-radius: var(--radius-lg);
    border: 1px solid #ddd;
    
    text-decoration: none;
    color:inherit;

    transition: 0.2s ease;
}

.matchUserBio{
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    background: var(--colour-white);
    padding: var(--spacing-md);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-soft);
    transition: 0.2s ease;
}

.matchCard:hover{
    transform: translateY(-4px);
}

.matchUserPhoto{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ccc;
    object-fit: cover;
    padding: 1rem;
}

.matchesListStyles{

}

.matchUserContent{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.username{
    font-family: var(--font-heading);
    font-size: 1.2rem;
}

.location{
    font-size: 0.95rem;
    opacity: 0.7;

}

.matchUserSports{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
    /* height: 10px;
    width: 10px; */
}

/* SORT & FILTER */
.controls{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: left;
    align-items: center;
    padding: 1rem;
}

.dropdownSelectWrapper{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--colour-primary);
    border-radius: 999px;
    padding: 0.3 0.8rem;
    border: 1px solid var(--colour-accent)
}

.dropdownSelect{
    flex: 1;
    padding: 0.4rem 0;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color:var(--colour-white);

}

.icon{    
    width: 1rem;
    height: 1rem;
    color: var(--colour-white);
    transition: color 0.2s ease;
}

/* HOVER & FOCUS */
.dropdownSelectWrapper:hover,
.dropdownSelectWrapper:focus-within{
    background-color: var(--colour-white);
    color: var(--colour-primary);
    outline: none;
}

.dropdownSelectWrapper:hover .icon,
.dropdownSelectWrapper:focus-within .icon{
    color: var(--colour-primary)
}



.dropdownSelect option{
    color: var(--colour-primary);
    background-color: var(--colour-white);
}



.dropdownSelectWrapper:hover .dropdownSelect{
    color: var(--colour-primary);
    background-color: var(--colour-white);
}





