.matchesContainer{
    display: grid;
    gap: var(--spacing-md)
}

.matchCard{
    text-decoration: none;
    color:inherit
}

.matchUserBio{
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    background: var(--colour-white);
    padding: var(--spacing-md);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-soft);
    transition: 0.2s ease;
}

.matchUserBio:hover{
    transform: translateY(-4px);
}

.matchUserPhoto{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #ccc;
    object-fit: cover;
}

.matchesListStyles{

}

.matchUserContent{

}

.username{
    font-family: var(--font-heading);
    font-size: 1.1rem;
}

.location{

}

.matchUserSports{
    
}