.nav{
    display: flex;
    gap: var(--spacing-md);
    /* justify-content: space-around;
    align-items: center;
    background: white;
    border-top: 1px solid #ddd */
}

/* Mobile screen size (default) */
@media (max-width: 767px){
.nav{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--colour-primary);
    justify-content: space-around;
    align-items: center;
    padding: 0.8rem 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    display: flex;
    border-top: 1px solid #ddd
}

.navLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: var(--colour-white);
}

/* hide text on mobile nav */
.label{
    display: none
}

.icon{
    display: block;
    font-size: 1.2rem;
    color:var(--colour-white);
    height: 1.75rem;
    width: 1.75rem;
}

}

/* Desktop screen size */
@media (min-width: 768px){
    .nav{
        position: static;
        height: 70px;
        border-top: none;
        border-bottom: 1px solid #ddd;
        width: auto;
        background: transparent;
        gap: 2rem;
    }

    .navLink{
        flex-direction: row;
        gap: 8px;
        font-size: 16px;
    }

    /* show the text on desktop */
    .label{
        display: inline
    }

    .icon{
        display: none;
}
}

/* prevent content being hidden behind mobile nav */
body {
  padding-bottom: 60px; 
}

.active{
    text-decoration: underline;
}