.h2{
    font-family: var(--font-heading);
    /* margin-bottom: var(--spacing-sm); */
    font-weight: 700;
    font-size: 2rem;
}

.sportPlusLevel{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: var(--spacing-md)
}

.sportIcon{}

.abilityLevel{}