.profileBioCardContainer{
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    background: var(--colour-white);
    /* border-bottom: 1px solid rgba(0,0,0,0.1); */
    padding: var(--spacing-md);
    border-radius: var(--radius-lg);
}

.userPhoto{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background: #cfcfcf;
    padding: 1rem;
}

.profileBioCardContent{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-left: 1rem;
}

.username{
    font-size: 1.4rem;
    font-family: var(--font-heading);
    font-weight: 500;
}

.p{
    font-size: 0.9rem;
    opacity: 0.8;
}