.sportContainer{
    background-color: var(--colour-primary-light);
    border-radius: var(--radius-md);
    padding: 1rem;
    padding-bottom: 2rem;
}

.h2{
    font-family: var(--font-heading);
    margin-bottom: var(--spacing-sm);
    font-weight: 700;
    font-size: 2rem;
    padding-left: 2rem;
    color: var(--colour-white)

}

.sportPlusLevel{
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); */
    justify-content: space-evenly;
    /* gap: var(--spacing-md) */
}

.sportIcon{
}

.abilityLevel{}