.profileBioCardContainer{
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    background: var(--colour-accent);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: var(--spacing-md);
}

.userPhoto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #cfcfcf;
    object-fit: cover;
}

.profileBioCardContent{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.username{
    font-size: 1.4rem;
    font-family: var(--font-heading);
}

.p{
    font-size: 0.9rem;
    opacity: 0.8;
}