
.sportCard{
    background: white;
    border-radius: var(--radius-md);
    padding: var(--spacing-md);
    text-align: center;
    box-shadow: var(--shadow-soft);
    transition: 0.2s ease;

    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 10rem;
    align-items: center;
    justify-content: center;
}

.sportCardMini{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--colour-white);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-soft);
    padding: 0.4rem;
}

.sportIconMini{
    width: 22px;
    height: 22px;
}

.sportCard:hover{
    transform: translateY(-4px);
}
.sportIcon{
    width: 5rem;
    height: 5rem;
    margin-bottom: var(--spacing-sm)
}

.sportName{
    font-size: 0.9rem;
    font-weight: 500;
}
