
.sportCard{
    background: var(--colour-accent);
    border-radius: var(--radius-md);
    padding: var(--spacing-md);
    text-align: center;
    box-shadow: var(--shadow-soft);
    transition: 0.2s ease;
}

.sportCard:hover{
    transform: translateY(-4px);
}
.sportIcon{
    width: 50px;
    height: 50px;
    margin-bottom: var(--spacing-xs)
}

.sportName{
    font-size: 0.9rem;
    font-weight: 500;
}
