.headerSection{
    background-color: var(--colour-accent);
    color: var(--colour-primary);

}

.mainSection{
    background-color: var(--colour-accent);
    min-height: 100vh;
    padding: var(--spacing-lg) var(--spacing-md)
}

.pageTitle{
        font-family: var(--font-heading);
    /* margin-bottom: var(--spacing-sm); */
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.lineBreak{

}

.controls{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: left;
    align-items: center;
    padding: 1rem;
}

.sortButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.filterButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.icon{
    width: 1rem;
    height: 1rem;
}

.label{
    font-size: 1.2rem;
}

.lines{

}

.matchesSection{
    padding-top: 2rem;
}