/* TOP SECTION */

/* TODO: rearrange text locations to match wireframes */

.introSection{
    background-color: var(--colour-primary);
    color: var(--colour-white);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: var(--spacing-lg) var(--spacing-md); */
    text-align: center;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: var(--colour-primary);
    z-index: 1000;
    position: relative;
    
}

.SignOutContainer{
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: flex;
    align-items: center;
}

.SignOutButton{
    border: 1px solid var(--colour-accent);
    color: var(--colour-accent);
    padding: 0.6rem 1.5rem;
    border-radius: 999px;
    font-weight: 500;
    transition: 0.2s ease;
}

.SignOutButton:hover{
    background-color: var(--colour-accent);
  color: var(--colour-primary-light);
  border: var(--colour-primary-light) solid 3px;
  transform: translateY(-4px);
}

.appTitle{
    font-size: 3rem;
    font-weight: 700;
    margin-top: var(--spacing-lg);
}

.h2{
    font-size: 2rem;
    margin-bottom: var(--spacing-sm)
}

.h3{
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: var(--spacing-md);
    opacity: 0.9;
}

.button{
    padding: 0.6rem 1.5rem;
    border-radius: 999px;
    font-weight: 500;
    transition: 0.2s ease;
    background-color: var(--colour-accent);
    color: var(--colour-primary)
}

.button:hover{
    transform: translateY(-4px);
}

/* AUTH BUTTONS */

.clerkLinks{
    display: flex;
    gap: var(--spacing-sm)
}

.signUpLink,
.signInLink{
    padding: 0.6rem 1.5rem;
    border-radius: 999px;
    font-weight: 500;
    transition: 0.2s ease;
}

.signUpLink{
    background-color: var(--colour-accent);
    color: var(--colour-primary)
}

.signInLink{
    border: 1px solid var(--colour-accent);
    color: var(--colour-accent)
}

/* ABOUT SECTION */

.aboutSection{
    background-color: var(--colour-accent);
    padding: var(--spacing-xl) var(--spacing-md);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-lg);
    align-items: center;
}

.footballImage{

}

.aboutText{
    color: var(--colour-primary);
    line-height: 1.7;
    font-size: 1rem;
    padding-right: 3rem;;
}

/* HOW IT WORKS SECTION */

.howItWorksSection{
    background-color: var(--colour-primary);
    padding: var(--spacing-xl) var(--spacing-md);
    color: var(--colour-white);
}

.howItWorksTitle{
    margin-bottom: var(--spacing-md);
    font-size: 2rem;
    color: var(--colour-white);
}

/* Desktop */
.howItWorksCards{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-md);
    justify-items: stretch;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    background-color: var(--colour-accent);
    color: var(--colour-primary);
    padding: var(--spacing-md);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-soft);
    transition: 0.2s ease;
    /* max-width: 500px; */
    height: 275px;
}

.card:hover{
    transform: translateY(-4px);
}


.cardTitle{
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0.5rem;
    
}

.cardText{
    padding: 0.5rem;
    
}

.homepageFooter{
    background-color: var(--colour-primary);
    padding: var(--spacing-md);
    color: var(--colour-white)
}

/* RESPONSIVE */

@media (max-width: 1024px){
    .aboutSection{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .howItWorksCards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px){
    .clerkLinks{
        flex-direction: column;
        width: 100%;
        max-width: 250px;
    }

    /* TODO: redesign scroll bar to fit in with page/add swipe functionality for phones? */
    .howItWorksCards{
        display: flex;
        overflow-x: auto;
        gap: var(--spacing-md);
        scroll-snap-type: x mandatory;
        padding-bottom: 1rem;
        -webkit-overflow-scrolling: touch;
    }

    .card{
        min-width: 80%;
        flex: 0 0 80%;
        scroll-snap-align: center;
    }
}

.homepageFooter{
    width: 100%;
    background-color: var(--colour-accent);
}

/* Scroll bar */
.howItWorksCards::-webkit-scrollbar{
    height: 10px;

}

.howItWorksCards::-webkit-scrollbar-track{
    background: rgba(255,255,255,0.1);
    border-radius: 5px;
    margin-top: 5px;
}

.howItWorksCards::-webkit-scrollbar-thumb{
    background-color: var(--colour-accent);
    border-radius: 5px;
}
