.introSection{

}

.appTitle{

}

.h2{

}

.h3{

}

.clerkLinks{

}

.signUpLink{

}

.signInLink{

}

.aboutSection{

}

.footballImage{

}

.aboutText{

}

.howItWorksSection{

}

.howItWorksTitle{

}

.howItWorksCards{

}

.card{

}

.cardTitle{

}

.cardText{
    
}