/* TOP SECTION */

.introSection{
    background-color: var(--colour-primary);
}

.appTitle{
    color:beige;
}

.h2{

}

.h3{

}

.clerkLinks{

}

.signUpLink{

}

.signInLink{

}

.aboutSection{
    background-color: beige;

}

.footballImage{

}

.aboutText{

}

.howItWorksSection{
    background-color: darkcyan;

}

.howItWorksTitle{

}

.howItWorksCards{

}

.card{

}

.cardTitle{

}

.cardText{
    
}

.homepageFooter{
    background-color: darkcyan;
}