.headerSection{
    background-color: var(--colour-accent);
    color: var(--colour-primary);

}

.mainSection{
    background-color: var(--colour-accent);
    min-height: 100vh;
    padding: var(--spacing-lg) var(--spacing-md)
}

.profileLayout{
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    gap: var(--spacing-lg)
}


.bioSection{

}

.sportsSection{

}

.connectionsSection{
    
}

/* RESPONSIVE */
@media (min-width: 1024px){
    .profileLayout{
        gap: var(--spacing-xl)
    }
}

@media(min-width: 768px){
    .mobileNav{
        display: none;
    }
}

.mobileNav{
    display: block
}